body {
    background-color: #f1f3f4;
}

.brasao {
    width: 200%;
}

.header-info {
    font-size: 0.6em;
    font-weight: 600;
}

.body-info {
    line-height: 0.8;
}

.label-name {
    font-size: 0.5em;
    padding: 0;
    margin: 0;
    font-weight: 500;
}

.label-info {
    font-size: 0.65em;
    padding: 0;
    margin: 0;
    font-weight: 500;
}

.info {
    font-size: 0.65em;
    padding: 0;
    margin: 0;
}

.foto {
    width: 110%;
}

.porte {
    color: red;
    font-size: 0.4em;
    line-height: 1;
    margin-top: 5px;
}

.assinatura {
    width: 100%;
}

.assinatura-info {
    font-size: 0.4em;
    line-height: 1;
}

.barra {
    padding: 0.9vh;
}

.barra-text {
    -webkit-transform: rotate(270deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(270deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(270deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(270deg);
    -o-transform-origin: left top;
    transform: rotate(270deg);
    transform-origin: left top;

    position: absolute;
    bottom: 0;
    white-space: nowrap;    
    font-size: 0.7em;
    margin-bottom: 7px;

    background-color: #668000;
    border-radius: 2px;
    color: #F4EED7;
    padding-left: 5px;
    padding-right: 5px;
}

.default-background {
    background-color: #F4EED7;
}

.valido-territorio {
    background-color: #668000;
    font-size: 0.4em;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    border-radius: 2px 2px 0 0;
}

.card-body {
    padding: 0;
}

.minor-info {
    background-color: #F4EED7;
    color: #668000;
    border-radius: 1px;
}

.inverse-radius {
    border-radius: 0 0 2px 2px;
}

.watermark {
    position: relative;
}

.watermark:before{
    content: ' ';
    background-image: url('images/guarda.png');
    display: block;
    position: absolute;
    width: 25%;
    height: 100%;
    right: 30vw;
    z-index: 1;
    opacity: 0.2;
    background-repeat: no-repeat;
    background-position: center;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
 }

 .smds {
     font-size: 0.6em;
     margin-right: 5px;
     color: #b2bec3;
 }